footer{
  background: #232323;
  padding-top: 10px;
  min-height: 120px;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
}
@media (max-width:801px) {
  footer .flex {
    margin-top: 30px;
  }
}

.footer_title {
  font-weight: bolder;
}

.footer_content {
  margin-top: 10px;
  display: block;
}

.footer_container {
  padding-left: 5px;
  padding-right: 5px;
}
